<!doctype html>
<meta charset='utf-8'>
<link rel="shortcut icon" href="favicon.ico">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='example.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='dragula.css') }}">
<title>dragula</title>
<div class='examples'>
  <div class='parent'>
    <label for='hy'>Hi there.</label>
    <label for='hy'>   Drag and move the candidates form the left side to the right by order.</label>
    <div class='wrapper'>
      <div id='left-defaults' class='container'>
        {% for candidate in entries %}
        <div id={{ candidate.id }}>
            <strong>{{ candidate.name }} {{ candidate.surname }}</strong>
            <div class='image-thing'><img  src="/static/images/{{ candidate.id }}.jpg" alt='dragula'/></div>
            <div>{{ candidate.party_name }}</div>
            <div>Age:{{ candidate.age }}</div>
            <div>Job:{{ candidate.job }}</div>
            <div>Address:{{ candidate.address }}</div>
        </div>
        {% endfor %}
      </div>
      <div id='right-defaults' class='container'>
      </div>
    </div>
</div>
  
<script src="{{ url_for('static', filename='dragula.js') }}"></script>
<script src="{{ url_for('static', filename='example.min.js') }}"></script>
